@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --font: "Ubuntu", sans-serif;
  --head: #353564;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  font-family: var(--font);
  scroll-behavior: smooth;
}

a {
  color: #1b2e4b;
}

.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100vw;
  height: 100vh;

          align-items: center;
  font-size: 1.5rem;
  height: 6rem;
  z-index: 1;

}

.nav {
  background-color: #f0f0f0;
  box-shadow: -1px 2px 12px -4px rgba(0,0,0,0.75);
}

.ham {
  display: none;
}

.links {
  display: flex;
}

.links li {
  padding: 1rem;
  font-weight: 500;
  margin: 0 1rem;
  
}
.links li:hover{
  background-color:#7676f7;
  color: white;
  border-radius: 1rem;
}

.active{
  background-color: #7676f7;
  color: white;
  border-radius: 1rem;
}

.navbar-brand {
  font-weight: bolder;
}

@media (max-width: 991px) {
  .links {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 0;
    z-index: 0;
    top: 100%;
    left: 0;
    background-color: rgba(233, 233, 233, 0.973);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .active {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .links li {
    margin: 0.15rem 1rem;
  }
  .links li:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
    padding-left: 2rem;
  }
  .ham {
    display: block;
    font-size: 2rem;
  }
}

.hide {
  height: 45vh;
}

.fa-times {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: red;
}

.fa-virus {
  color: red;
}

.home {
  background-image: url(images/home-bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.content {
  text-align: center;
  padding-top: 15rem;
  color: #353564;
}

.content h1 {
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
}

.content h2 {
  font-size: 4rem;
  font-weight: normal;
  padding-top: 1rem;
  margin-bottom: 4rem;
}

.content a {
  font-size: 1.8rem;
  margin-top: 5rem !important;
  padding: 1.2rem 2rem;
  border-radius: 1rem;
  background-color: #7676f7;
  color: white;
}

.second-section {
  margin: 0rem 5rem 1rem 5rem;
  padding-top: 7rem;
}

.second-section h1 {
  font-size: 3.5rem;
  font-weight: 550;
  margin-bottom: 5rem;
  text-transform: uppercase;
  color: var(--head);
}

.prevent {
  display: -ms-grid;
  display: grid;
  width: 70vw;
  margin: auto;
  place-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5rem 0;

}

.head {
  text-align: center;
}





.items {
  padding: 2rem 2rem;
  width: 40rem;
  text-align: center;
  /* border: 1px solid rgb(236, 236, 236); */
  box-shadow: 4px 12px 22px 7px rgba(247, 244, 244, 0.75);
  border-radius: 1rem;
  p{
    text-align: justify;
    font-size: 1.5rem;
    color: rgb(116, 116, 116);
  }
}


.items img {
  height: 12rem;
}

.items h2 {
  font-size: 2rem;
  font-weight: 450;
  color: #353564;
  padding: 1.5rem 0;
}
/* 
.items p {
  font-size: 1.5rem;
  text-align: justify;
} */

/* .middle {
  text-align: center;
  margin: 9rem 0rem 6rem 0rem;
  font-size: 3rem;
  padding-top: 8rem;
  font-weight: 500;
  text-transform: uppercase;
} */

.three {
  background-image: url(images/background-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  h1{
    font-size: 3.5rem;
    font-weight: 550;
    margin-bottom: 5rem;
    text-transform: uppercase;
    color: var(--head);
  }
}

.section-three {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  margin: 0 10rem;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.main-img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-img img {
  width: 70%;
}

.image img {
  width: 75%;
}

.image h2 {
  padding-top: 2rem;
  font-size: 2rem;
}

.heaad {
  padding-top: 7rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 550;
  margin-bottom: 5rem;
  text-transform: uppercase;
  color: var(--head);
}

.heaad-2 {
  text-align: center;
  padding: 1rem 3rem;
  background-color: #7676f7;
  margin: 0rem 13rem;
  font-size: 3rem;
  color: white;
}

.part-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  gap:4rem;
  h1{
    color: #7676f7;
  }
}

.border {
  margin: 0rem 13rem;
  box-shadow: 2px 8px 40px -13px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 8px 40px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 8px 40px -13px rgba(0, 0, 0, 0.75);
}

.item h1 {
  font-size: 2rem;
}

.item p {
  font-size: 1.3rem;
  padding: 1rem 0;
}

.itemm h1 {
  font-size: 2rem;
  color: #f14747;
}

.itemm p {
  font-size: 1.3rem;
  padding: 1rem 0;
}

.border_two {
  margin: 0rem 13rem 2rem 13rem;
  box-shadow: 2px 8px 40px -13px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 8px 40px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 8px 40px -13px rgba(0, 0, 0, 0.75);
}

.heaad-3 {
  text-align: center;
  padding: 1rem 3rem;
  background-color: #f14747;
  margin: 4rem 13rem 0 13rem;
  font-size: 3rem;
  color: white;
}

.sec6 {
  padding-top: 7rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 550;
  margin-bottom: 5rem;
  text-transform: uppercase;
  color: var(--head);
  
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0rem 5rem;
}

.card1 {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  margin: 2rem;
  padding: 2rem 1rem;
  box-shadow: 2px 8px 40px -4px rgba(0, 0, 0, 0.75);
  border-radius: 1rem;
  
}

.card1 img {
  margin: 1rem;
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  background: #7676f7;
}

.card1 h2 {
  font-size: 2.2rem;
  margin-top: 0.5rem;
}

.card1 p {
  font-size: 1.6rem;
  margin-top: 0.3rem;
  padding: 1rem 12rem;
  margin: 0;
  border-bottom: solid rgb(182, 178, 178) 0.1rem;
}

.share a {
  font-size: 3rem;
  padding: 2rem;
  color: #7676f7;
  margin: 0.5rem;
  /* border-radius: 50%; */
  /* background-color: #7676f7; */
}

.share a:hover {
  -webkit-transform: rotate(36 0deg);
          transform: rotate(36 0deg);
}

.card {
  background: url(images/background-img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 5rem;
}

.middle {
  padding: 7rem;
  margin: 0 !important;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 550;
  text-transform: uppercase;
  color: var(--head);
}

.seven {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.section-seven {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  margin: 0 8rem;
  padding-bottom: 6rem;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.main-img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-img img {
  width: 70%;
}

.image img {
  width: 75%;
}

.image h2 {
  padding: 2.2rem;
  font-size: 1.8rem;
  color: #353564;
}

.about-us {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 5rem 3rem;
  margin: 0 3rem;
  border-top:1px solid #1b2e4b ;
  color: #1b2e4b;
}

.linkss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about h2 {
  font-size: 3rem;
  line-height: 5rem;
}

.about p {
  font-size: 1.5rem;
}
.location{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.linkss{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location h2 {
  font-size: 3rem;
}

.follow{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location p {
  font-size: 1.5rem;
  padding: .5rem;
}

.linkss h2 {
  font-size: 3rem;
}

.linkss p {
  font-size: 1.5rem;
  padding :.5rem;
}

.follow h2 {
  font-size: 3rem;
}

.follow p {
  font-size: 1.5rem;
  padding: .5rem
}
/*# sourceMappingURL=covid.css.map */